<div class="col-md-2">
  <form [formGroup]="registrationForm" novalidate class="form">

    <div *ngIf="loginAlreadyExist" class="alert alert-danger" role="alert">Login already exists</div>

    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" formControlName="login" placeholder="Login" name="login" class="form-control" id="login"
             pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['login'].valid && !registrationForm.controls['login'].untouched">Uppercase
      and lowercase letter.
      Must be 2-20 characters. Without specifically characters #,$,% and so on. For example SuttyRead
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             id="password" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['password'].valid && !registrationForm.controls['password'].untouched">
      Password must be have lowercase and uppercase Latin letters, number. Minimum 8 characters
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password:</label>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm password" name="confirmPassword"
             class="form-control"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             id="confirmPassword" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['confirmPassword'].valid && !registrationForm.controls['confirmPassword'].untouched">
      Password must be have lowercase and uppercase Latin letters, number. Minimum 8 characters
    </div>

    <div *ngIf="passwordNotMatch" class="alert alert-danger" role="alert">Password not match</div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email"
             pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*\.\w{2,4}" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['email'].valid && !registrationForm.controls['email'].untouched">Enter
      correct email. Email must be have @. For example SuttyRead@gmail.com
    </div>

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" formControlName="firstName" placeholder="First name" name="firstName" class="form-control"
             pattern="^[A-Z]{1}[a-z]{1,25}"
             id="firstName" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['firstName'].valid && !registrationForm.controls['firstName'].untouched">
      Only latin letter. First letter must be uppercase. For example Sutty
    </div>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" formControlName="lastName" placeholder="Last name" name="lastName" class="form-control"
             pattern="^[A-Z]{1}[a-z]{1,25}"
             id="lastName" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['lastName'].valid && !registrationForm.controls['lastName'].untouched">Only
      latin letter. First letter must be uppercase. For example Sutty
    </div>

    <div class="form-group">
      <label for="birthday">Birthday:</label>
      <input type="date" formControlName="birthday" placeholder="Birthday" name="birthday" class="form-control"
             id="birthday" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!registrationForm.controls['birthday'].valid && !registrationForm.controls['birthday'].untouched">
      Birthday invalid
    </div>

    <div *ngIf="incorrectBirthday" class="alert alert-danger" role="alert">Birthday incorrect</div>

    <div class="col-sm-6">
      <re-captcha (resolved)="resolved($event)" siteKey="6LcZDYAUAAAAADb8KgCHNMpBC-rklAFI36qbweTb"></re-captcha>
    </div>

    <div *ngIf="fillCaptcha" class="alert alert-danger" role="alert">Fill captcha</div>

    <button class="btn btn-success" [disabled]="!registrationForm.valid" (click)="registration()">Save</button>
    <button class="btn btn-success" (click)="back()">Cancel</button>

  </form>
</div>
