<div class="col-md-2">

  <div *ngIf="incorrect" class="alert alert-danger" role="alert">Login or password incorrect</div>

  <form [formGroup]="loginForm" (ngSubmit)="loginAuth()" class="form">
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" formControlName="login" placeholder="Login" name="login" class="form-control" id="login"
             pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             id="password" required>
    </div>
    <button class="btn btn-success">Log in</button>
  </form>
</div>

