<div class="col-md-2">

  <form [formGroup]="addForm" class="form">

    <div class="form-group">
      <input type="hidden" formControlName="id" placeholder="Id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" formControlName="login" placeholder="Login" name="login" class="form-control" id="login"
             readonly required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
             pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
             id="password" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!addForm.controls['password'].valid && !addForm.controls['password'].untouched">Password invalid
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email"
             pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*\.\w{2,4}" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!addForm.controls['email'].valid && !addForm.controls['email'].untouched">Email invalid
    </div>

    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" formControlName="firstName" placeholder="First name" name="firstName" class="form-control"
             pattern="^[A-Z]{1}[a-z]{1,25}"
             id="firstName" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!addForm.controls['firstName'].valid && !addForm.controls['firstName'].untouched">FirstName invalid
    </div>

    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" formControlName="lastName" placeholder="Last name" name="lastName" class="form-control"
             pattern="^[A-Z]{1}[a-z]{1,25}"
             id="lastName" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!addForm.controls['lastName'].valid && !addForm.controls['lastName'].untouched">Last name invalid
    </div>

    <div class="form-group">
      <label for="birthday">Birthday:</label>
      <input type="date" formControlName="birthday" placeholder="Birthday" name="birthday" class="form-control"
             id="birthday" required>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="!addForm.controls['birthday'].valid && !addForm.controls['birthday'].untouched">Birthday invalid
    </div>

    <div *ngIf="incorrectBirthday" class="alert alert-danger" role="alert">Birthday incorrect</div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select formControlName="role" name="role" id="role" class="form-control">
        <option [ngValue]="role" *ngFor="let role of roles">{{role.name}}</option>
      </select>
    </div>

    <button class="btn btn-success" [disabled]="!addForm.valid" (click)="edit()">Save</button>
    <button class="btn btn-success" (click)="back()">Cancel</button>


    <p>Form value: {{ addForm.value | json }}</p>
    {{addForm.value.role.name}}
  </form>
</div>
